<!DOCTYPE html>
<hl>Checkout </hl><br>
     
   <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

       <title>Checkout </title>
   </head>
   <body>
{% block content %}
   <form action="" method="POST" type="submit">
   {{form.hidden_tag()}}
       <p>
           {{form.cardnumber.label}}<br>
           {{form.cardnumber(size=12)}}<br>
           {{form.expirationdate.label}}<br>
           {{form.expirationdate(size=5)}}<br>
           {{form.securitycode.label}}<br>
           {{form.securitycode(size=3)}}
           </p>
      
       <p> {{form.checkout()}} </p>
   </form>
   {% endblock %}
</body>
</html>
