{% extends 'hometest.html'%}
    {% block title %}
    Search
    {% endblock title%}
    <body>
    {% block content%}
    
    <br/>
    <h2>Results for {{ result }}</h2>
      
    {% for i in searchedphrase %}
        {% if i.productname == result%}
    <ul>
        <li>Product name:{{i.productname}}</br> Product price: {{i.productprice}}</br> Product description: {{i.productdescription}}</br> Product image:<br/> <img src={{i.productimage}} width="400" 
            height="500" </br> <form action="{{url_for('cart')}}" method="post">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button type="submit" class="btn btn-sm btn-warning">Add to Cart</button>   </li>
        
    </ul>
        {% endif %}
    {% endfor %}
    
    {% endblock content%}
    </body>
    </html>
